*{
    margin:0;
    padding:0;
}
.container{
    display:grid;
    grid-template-columns: repeat(8,100px);
    grid-template-rows: 220px 100px 220px 220px 220px;
    height:1084px;
    width:960px;
    grid-gap:20px;
}
.item-1{
    grid-column: span 2;
    background-color:#E1E1E1;
}
.item-2{
    background-color:#E1E1E1;
}
.item-3{
    background-color:#E1E1E1;
    grid-column: span 6;
}
.item-4{
    background-color:#E1E1E1;
    grid-column: span 4;
}