$heading-color: #2C3E50;
$message-color: #2C3E50;
$alertBorder:#E2E6E7;
$color-1:#FFC12D;
$border-1:#C89210;
$icon-1:#A47503;
$color-2:#A7EC2F;
$border-2:#7BC200;
$icon-2:#558502;
$color-3:#FEB1A4;
$border-3:#F55C43;
$icon-3:#D52E13;
$color-4:#85EBFA;
$border-4:#47B4F6;
$icon-4:#0787D4;
$color-5:#AACDF6;
$border-5:#8781BD;
$icon-5:#5B568E;