$message-color: #A1B1BC;
$heading-color: #2C3E50;
$closeColor:#CFD2D3;
$alertBorder:#E2E6E7;
$color-1:#FFC12D;
$border-1:#F9B718;
$icon-1:#A47503;
$color-2:#97E411;
$border-2:#7BC200;
$icon-2:#558502;
$color-3:#FD7761;
$border-3:#F55C43;
$icon-3:#D52E13;
$color-4:#6FD9FC;
$border-4:#47B4F6;
$icon-4:#0787D4;
$color-5:#A39CDC;
$border-5:#8781BD;
$icon-5:#5B568E;
