#container{
    width: 1000px;
    height: 500px;
    border: 1px solid black;
    box-sizing: border-box;
    position: relative;
}
#notification{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 500px;
    height: 180px;
    border: 1px solid black;
    
}
button{
    background-color: white;
    color: gray;
    font-size: 30px;
    border: none;
    position: absolute;
    top: 0px;
    right: 15px;
}
.relative{
    position: relative;
    padding: 0 30px;
}
p{
    font-size: 20px;
    margin-top: 30px;
    margin-right: 10px;
}